.table-responsive
{
  width: 100%;
  margin-bottom: 16.5px;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table
{
  margin-bottom: 0;
}

.table-responsive > .table > thead > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > tfoot > tr > td
{
  white-space: nowrap;
}

.table-responsive > .table-bordered
{
  border: 0;
}

.table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child
{
  border-left: 0;
}

.table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child
{
  border-right: 0;
}

.table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td
{
  border-bottom: 0;
}

.visible-xs
{
  display: block !important;
}

table.visible-xs
{
  display: table;
}

tr.visible-xs
{
  display: table-row !important;
}

th.visible-xs,
td.visible-xs
{
  display: table-cell !important;
}

.visible-xs-block
{
  display: block !important;
}

.visible-xs-inline
{
  display: inline !important;
}

.visible-xs-inline-block
{
  display: inline-block !important;
}

.hidden-xs
{
  display: none !important;
}

@media only screen and (max-width: 767px)
{
  #home_nasa .spacing_title
  {
    font-size: .8em;
  }

  .dk_teal_bottom, .dk_teal
  {
    transform: scale(1, 0.5);
    margin-top: -10px;
  }

  #toolkit .photo_background img
  {
    margin-top: -25%;
  }

  #toolkit img.logo
  {
    margin-top: 15%;
    margin-top: 37px;
    transform: scale(0.6, 0.6);
    margin-left: -62px;
  }

  #toolkit .orange-bak
  {
    margin-top: 34%;
  }

  #toolkit .orange-bak h1
  {
    margin: 5% 0 0 -200px;
    margin: 5% 0 0 -200px;
    left: 50%;
    width: 425px;
    font-size: 1.2em;
    padding-left: 37px;
  }

  #toolkit .orange-bak p
  {
    max-width: 80%;
    left: 10%;
    font-size: 1em;
    margin-top: -200px;
  }

  #home_nasa
  #home_nasa .size_back
  {
    min-height: 216px;
  }

  .size_back
  {
    min-height: 216px;
  }

  .navbar .nav.pull-right
  {
    float: none !important;
    margin-right: 0% !important;
    /*set margin this way in your custom styesheet*/;
  }

  #home_nasa .orange-bak img
  {
    max-height: 200px;
    margin-top: 0px;
  }

  #home_nasa .teal_top
  {
    width: 100%;
    min-height: 160px !important;
    max-height: 150px !important;
    border-color: #00b0ad;
    overflow-y: scroll;
  }

  #home_nasa .place_mobile
  {
    margin-top: -170px !important;
  }

  #home_nasa #footerlinks ul:first-of-type
  {
    margin-left: -6px !important;
  }

  #home_nasa .navstylenum
  {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 4px solid #019491;
    color: #019491;
    float: left;
    /*would prefer to make this display:inline-block*/
    border-radius: 50px;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
    position: relative;
    /*causes spacing on right side of image in content area*/
    left: 90px;
    line-height: 33px;
    margin-top: -10px;
    font-size: .9em;
  }

  #home_nasa .orange-bak
  {
    margin-top: 0px;
  }

  #home_nasa .logo_container
  {
    min-height: 100px;
    margin-top: 80px;
  }

  #home_nasa .earth-background
  {
    margin-top: -130px;
  }

  #home_nasa p.black
  {
    font-size: 1em;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px)
{
  #toolkit img.logo
  {
    margin-top: 60px;
    transform: scale(0.8, 0.8);
  }

  #toolkit img.logo
  {
    margin-top: 37px;
    transform: scale(0.5, 0.5);
    margin-left: -100px;
  }

  #toolkit .orange-bak h1
  {
    margin: 9% 0 0 -152px;
    left: 50%;
    width: 300px;
    font-size: .9em;
    padding-left: 16px;
  }

  #toolkit .orange-bak p
  {
    max-width: 80%;
    left: 10%;
    font-size: 1em;
    margin-top: -200px;
  }

  #home_nasa .earth-background
  {
    margin-top: -40px;
  }

  #home_nasa .teal_top
  {
    width: 100%;
    min-height: 150px !important;
    max-height: 130px !important;
    border-color: #00b0ad;
    margin-top: -170px;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 480px)
{
  #toolkit img.logo
  {
    margin-top: 14px;
    transform: scale(0.3, 0.3);
    margin-left: -145px;
  }

  #toolkit .orange-bak h1
  {
    margin-top: 11%;
    padding-left: 16px;
  }

  #toolkit .orange-bak p
  {
    max-width: 80%;
    left: 10%;
    font-size: 1em;
    margin-top: -200px;
    min-height: 104px;
    max-height: 128px;
    min-height: 145px;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 330px)
{
  #toolkit .orange-bak p
  {
    max-height: 60px;
  }
}

.y4y-content ul li a
{
  text-decoration: none;
  color: #000;
}

.navbar .nav.pull-right
{
  float: none !important;
  margin-right: 0% !important;
  /*set margin this way in your custom styesheet*/;
}

/*# sourceMappingURL=xsmall.css.map */
