@media only screen and (max-width: 991px) {
    #toolkit {
        img.logo {
            margin-top: 100px;
        }

        img.logo {
            transform: scale(0.7, 0.7);
            margin-top: 70px;
            margin-left: -40px;
        }
    }

    img.reader_girl {
        margin-top: 11%;
    }

    .dk_teal_bottom, .dk_teal {
        transform: scale(1, 0.5);
        margin-top: -10px;
    }

    #toolkit .orange-bak {
        margin-top: 30%;

        p {
            max-width: 80%;
            left: 10%;
            margin-top: -200px;
            font-size: 1em;
        }

        h1 {
            transform: scale(0.8, 0.8);
        }

        .inside {
            margin-left: 24px;
        }
    }

    #home_nasa {
        .spacing_title {
            font-size: .9em;
        }
    }

    #home_nasa .orange-bak img {
        max-height: 100px;
    }

    #home_nasa .size_back {
        min-height: 300px;
    }

    #home_nasa .mobile_top {
        margin-top: 12%;
    }

    #home_nasa .teal_top {
        height: 195px !important;
    }

    #home_nasa .place_mobile {
        margin-top: -234px !important;
    }

    #home_nasa .teal_petal {
        border-top-right-radius: 170px;
        border-bottom-left-radius: 170px;
        min-height: 400px;
    }

    #home_nasa .navstylecont {
        font-size: 15px;
        margin-left: 0px;
        margin-bottom: 5px;
    }

    #home_nasa .navstylenum {
        width: 50px;
        height: 50px;
        margin-top: -15px;
        margin-left: 0px;
        font-size: 30px;
        line-height: 38px;
        border: 5px solid #019491;
    }

    #home_nasa .crossfade_nav {
        top: 6%;
        left: 0%;
    }

    #home_nasa p.black {
        font-size: 100% !important;
        padding: 8%;
    }

    #home_nasa .position_footer_content {
        margin-left: 11% !important;
    }
}
