$white: #fff;

@media only screen and (max-width: 1199px) {
    #toolkit {
        img.logo {
            transform: scale(0.7, 0.7);
            margin-top: 42px;
            margin-left: -40px;
        }
    }

    .dk_teal_bottom, .dk_teal {
        transform: scale(1, 0.7);
        margin-top: -10px;
    }

    /*postions orange background*/
    #toolkit .orange-bak {
        h1 {
            transform: scale(0.8, 0.8);
        }

        p {
            max-width: 80%;
            left: 10%;
            margin-top: -176px;
        }
    }

    #home_nasa {
        .position_x {
            left: 366px;
        }
    }

    #home_nasa img.reader_girl {
        margin-top: 13%;
    }

    #home_nasa h3 {
        margin-top: 10px;
    }

    #home_nasa .size_back {
        min-height: 580px;
    }

    #home_nasa .navstylenum {
        border: solid 5px #019491;
    }

    #home_nasa .teal_petal {
        height: 575px;
        border-top-right-radius: 200px;
        border-bottom-left-radius: 200px;
        width: 280px;
        left: 21%;
    }

    #home_nasa .navstylecont {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #home_nasa .navstylenum {
        width: 64px;
        height: 64px;
        margin-bottom: 5px;
        margin-left: -75px;
        line-height: 55px;
        font-size: 3em;
    }

    #home_nasa .crossfade_nav {
        top: 8%;
    }

    #home_nasa p.black + img {
        min-width: 110%;
    }

    #home_nasa .nav_crossfade_image_box {
        left: 41%;
        left: 41.7%;
        max-width: 400px;
        max-height: 400px;
    }

    #home_nasa p.black {
        padding: 5% 10% 5% 10%;
        font-size: 1.1em;
        min-width: 110%;
    }

    #home_nasa #first p.black {
        min-width: 136%;
        padding: 13%;
        min-height: 400px;
        max-height: 475px;
    }
}
