// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

$your-variable: #000;

$white: #fff;

$black: #000;

$orange: #ff790e;

// END VARIABLES

/*html, body {
   height: 100%;
    min-height: 100vh;

}*/

// YOU CAN DECLARE REUSABLE CLASSES HERE

#toolkit {
    img.logo {
        width: auto;
        position: absolute;
        margin-top: 7%;
        margin-left: 4%;
    }
}

.custom_button {
    color: $white;
}

.photo_background {
    position: absolute;
    width: 100%;

    img {
        width: 100%;
        margin-top: -33%;
    }
}

/*postions orange background*/
#toolkit .orange-bak {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 100%;
    position: relative;
    z-index: 4;

    h1 {
        width: 44%;
        background-color: #12B8BC;
        margin: 3% 0 0 -318px;
        left: 50%;
        position: absolute;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        line-height: 260%;
        color: $white;
        padding-left: 56px;
        z-index: 5;
        width: 636px;
        font-size: 1.75em;
        white-space: nowrap;
    }

    p {
        position: absolute;
        margin-top: -33%;
        color: #fff;
        left: 10%;
        max-width: 80%;
        font-size: 1.2em;
    }

    img {
        width: 100%;
        min-height: 300px;
    }
}

#y4y-nasa-body {
    background-color: $white;

    .spacer_sub {
        height: 10%;
        width: 100%;
        margin-top: 10%;
        margin-top: 5%;
    }

    h2 {
        color: $orange;
        font-weight: 700;
    }

    h3 {
        color: #038886;
        font-size: 120%;
    }
}

.dk_teal {
    width: 100%;
    height: 40px;
    background-color: #12B8BC;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;

    &:after {
        content: "";
        width: 100%;
        height: 200px;
        position: absolute;
        background-color: #97d4cf;
        border-bottom-left-radius: 80%;
        border-bottom-right-radius: 80%;
        opacity: 0.6;
        margin-top: -132px;
    }
}

.hide_overflow {
    position: relative;
    max-height: 230px;
    overflow-x: hidden;
}

.dk_teal_bottom {
    width: 120%;
    background-color: #97d4cf;
    height: 90px;
    z-index: 5;
    border-radius: 80%;
    margin-left: -102px;
    z-index: 10%;
    margin-top: 8%;
    position: relative;

    &:before {
        content: "";
        width: 120%;
        height: 65px;
        position: absolute;
        background-color: $orange;
        border-top-left-radius: 80%;
        border-top-right-radius: 80%;
        margin-left: -70%;
        margin-top: -1.3%;
    }

    &:after {
        content: "";
        width: 120%;
        height: 70px;
        position: absolute;
        background-color: #12B8BC;
        border-radius: 80%;
        margin-top: 0%;
        margin-left: 0%;
    }
}

.container_shapes {
    max-height: 30px;
    position: relative;
}

/*these are the home page styles for now*/

section {
    display: block;
}

body {
    min-height: 700px !important;
}

html#home_nasa {
    background-color: #000;
    position: relative;
    min-height: 100%;
}

#home_nasa h1 {
    background-color: #000;
    position: relative;
    min-height: 100%;

    .navstylenum, .navstylecont {
        cursor: pointer;
    }

    h1 {
        text-align: center;
        margin-top: 10%;
    }

    #home_nasa h3
    h3 {
        font-size: 1.0em;
    }

    #home_nasa .title_black
    .title_black {
        font-size: 1.4em;
        display: block;
    }

    .title_white {
        font-size: 1.4em;
        color: $white;
        margin-top: -19px;
        padding-bottom: 10px;
    }
}

#home_nasa
#home_nasa {
    ul {
        list-style-type: none;
    }

    ul:empty {
        width: 0px !important;
        padding: 0px !important;
    }

    .container_cust {
        min-height: 100%;
        position: relative;
    }

    .logo_container.visible-xs img {
        position: relative;
        top: -4%;
        z-index: 8;
    }

    /*background styles*/

    .orange-bak {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10%;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .white_content {
        width: 100%;
        min-height: 300px;
        position: relative;
        padding-bottom: 6%;
        background-color: #fff;
    }

    .white_content p {
        padding: 1% 15% 1% 15%;
        font-size: 120%;
    }

    .orange-bak img {
        width: 100%;
        margin-top: -10px;
        max-height: 844px;
    }

    .orange-bak.sub_orange img {
        height: 400px;
    }

    .Teal_Header {
        width: 90%;
        height: 80px;
        background-color: #00b0ad;
        border-top-right-radius: 170px;
        border-bottom-left-radius: 170px;
        margin-top: 10%;
    }

    .teal_petal {
        width: 400px;
        background-color: #00b0ad;
        z-index: 10;
        border-top-right-radius: 300px;
        border-bottom-left-radius: 300px;
        width: 25%;
        height: 110.5%;
        height: 800px;
        width: 400px;
        color: #D8D6D6;
        top: 2%;
        left: 25%;
        position: absolute;
        z-index: 30;
        min-height: inherit;
        box-shadow: 30px 4px 40px rgba(0, 0, 0, 0.4);
    }

    .crossfade_nav {
        color: #fff;
        top: 8%;
        position: absolute;
        z-index: 4;
    }

    .navstylenum {
        width: 90px;
        height: 90px;
        background-color: #fff;
        border: 7px solid #019491;
        color: #019491;
        float: left;

        /*would prefer to make this display:inline-block*/
        border-radius: 50px;
        font-size: 5rem;
        text-align: center;
        vertical-align: middle;

        /*line-height: 85px;*/
        margin-bottom: 4%;
        margin-left: -90px;
        z-index: 12;
        position: absolute;
    }

    .navstylenum:hover {
        background-color: #fff600;
    }

    .navstylenum:hover + .navstylecont {
        color: #fff600;
    }

    .navstylecont {
        display: inline-block;
        margin-left: 40px;
        font-size: 3rem;
        min-height: 5%;
        min-width: 200px;
    }

    .navstylecont:hover {
        color: #fff600;
    }

    .nav_crossfade_img p {
        padding: 2%;
        min-height: 100px;
    }

    p.black {
        background-color: #000;
        display: block;
        border: solid 1px #000;
        border: 1px #DED7CD solid;
        padding: 9%;
        font-size: 122%;
        color: #DED7CD;
    }

    #moon p.black, #suits p.black, #design p.black, #explore p.black, #sports p.black, #Para_mars p.black {
        height: 200px;
    }

    /*crossfade styles*/

    .nav_crossfade_img ul {
        padding: 0px;
    }

    #thumbImgs {
        float: left;
    }

    .nav_crossfade_image_box {
        width: 40%;
        height: 10.5%;
        color: #D8D6D6;
        top: 12%;
        left: 42%;
        position: absolute;
        z-index: 2;
        border-radius: 5px;
        min-height: inherit;
        max-width: 760px;
    }
}

/*.teal_petal img

{
	width: inherit;
	top: 5%;
	position: absolute;
	left:30%;
	z-index: 3;
	height: 100%;
    width: auto;
}
*/
/*petal navigation*/

/*content for teal nav styles*/

/* these styles are rather odd. if you try to nest them, cause issues with loading.*/
#home_nasa #home_nasa #imgs {
    float: left;
}

#home_nasa #imgs li {
    position: absolute;
    display: none;
}

#home_nasa #imgs li:first-child {
    display: block;
}

/*end of un-nested styles*/

#home_nasa
#home_nasa .adjust_orange_sub {
    margin-top: -40%;
}

#home_nasa .content_orange {
    width: 40%;
    height: 10.5%;
    top: 12%;
    left: 30%;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    min-height: inherit;
    color: #fff;
}

#home_nasa .nav_crossfade_disc {
    float: left;
}

#home_nasa .nav_crossfade_img {
    float: left;
}

/* top nav styles*/

.navbar {
    background-color: #000;
    border-color: #000;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ff8600;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #000;
}

.position_x {
    color: #7d7d7d;
    left: 97%;
    font-size: 180%;
    position: absolute;
}

/* top animation */

body {
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    margin: 0 0 300px;
    background-color: #000;
}

div.ani {
    position: relative;
    -webkit-animation-name: moveme;

    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s;

    /* Chrome, Safari, Opera */
    animation-name: moveme;
    animation-duration: 2s;
    width: 100%;
}

.earth-background {
    position: absolute;
}

img.earth-fixed {
    width: 100%;
}

img.reader_girl {
    width: 80%;
    min-width: 500px;
    margin-left: 14%;
    margin-top: 5%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveme {
    0% {
        left: 2%;
    }

    11% {
        left: 2%;
    }

    100% {
        left: 0px;
    }
}

/* Standard syntax */
@keyframes moveme {
    0% {
        left: 2%;
    }

    11% {
        left: 2%;
    }

    100% {
        left: 0px;
    }
}

/*styles for the mobile version*/

#home_nasa .panel-heading {
    background-color: #00b0ad !important;
}

#home_nasa #accordion h4 {
    background-color: #00b0ad !important;
    font-size: 1.8em !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #fff;
    border: none !important;
    border-radius: 0px;
}

#home_nasa #accordion .panel-group, #accordion .panel {
    margin-bottom: 0px;
}

#home_nasa .teal_top {
    width: 100%;
    height: 100px;
    border-color: #00b0ad;
    padding: 4%;
    font-size: 110%;
    overflow-y: scroll;
}

#home_nasa .teal_top p {
    color: #fff;
}

/*
{
	border-top-right-radius:800%;
}*/

#home_nasa .ui-accordion-header {
    margin: 0px !important;
}

#home_nasa .place_mobile {
    margin-top: -100px;
    z-index: 30;
    position: absolute;
}

#home_nasa .image_size_xs {
    height: 120px !important;
    position: relative;
    overflow: hidden;
}

#home_nasa .image_size_xs img {
    width: 100% !important;
}

#home_nasa .ui-accordion .ui-accordion-content {
    padding: 0 !important;
}

#home_nasa #accordion p, #home_nasa #accordion ul {
    padding: 4%;
    background-color: #000;
    color: #fff;
    font-size: 1em;
    margin-bottom: 0px;
}

#home_nasa .ui-widget-content {
    background-color: #000;
}

#home_nasa .spacing_title {
    padding-left: 60px;
}

#home_nasa .spacing_title:hover {
    color: #fff600;
}

#home_nasa .navstylenum:hover + .spacing_title {
    color: #fff600;
}

.mobile_top {
    margin-left: 30px;
}

#accordion .panel, #accordion .panel-heading {
    border: 0px;
}

#accordion .panel.panel-default {
    border-top: 3px solid #1acfcc;
}

/*afor the fade in  of the vdefault text*/

#home_nasa ul#first, #home_nasa .teal_top.place_mobile p {
    opacity: 0;
    -webkit-animation: fadein 3s;

    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s;

    /* Firefox < 16 */
    -ms-animation: fadein 3s;

    /* Internet Explorer */
    -o-animation: fadein 3s;

    /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#home_nasa ul#first, #home_nasa .teal_top.place_mobile p {
    -webkit-animation-fill-mode: forwards;

    /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards;

    /*FF 5+*/
    -o-animation-fill-mode: forwards;

    /*Not implemented yet*/
    -ms-animation-fill-mode: forwards;

    /*IE 10+*/
    animation-fill-mode: forwards;

    /*when the spec is finished*/
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/*fade out*/

/*afor the fade in  of the vdefault text*/

#home_nasa ul#first, #home_nasa .teal_top.place_mobile p {
    opacity: 0;
    -webkit-animation: fadein 3s;

    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s;

    /* Firefox < 16 */
    -ms-animation: fadein 3s;

    /* Internet Explorer */
    -o-animation: fadein 3s;

    /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#home_nasa ul#first, #home_nasa .teal_top.place_mobile p {
    -webkit-animation-fill-mode: forwards;

    /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards;

    /*FF 5+*/
    -o-animation-fill-mode: forwards;

    /*Not implemented yet*/
    -ms-animation-fill-mode: forwards;

    /*IE 10+*/
    animation-fill-mode: forwards;

    /*when the spec is finished*/
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* ie fix for side scroll*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
