/* pulls the navbar right*/
.navbar .nav.pull-right {
    float: right;
    margin-right: 0%;

    /*set margin this way in your custom styesheet*/
}

#navbar {
    font-size: 130%;
}

/*changes navbar color*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #656565;
}

.dropdown-menu > li > a {
    background-color: #000;
    color: #fff;
}

.dropdown-header {
    color: #fff;
    background-color: #000;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #000;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #000;
    color: #fff;
}

.dropdown-menu .divider {
    background-color: #262626;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #000;
    color: #fff;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #000;
    color: #ff8600;
}
