.y4y-content {
    ul {
        display: block;
        color: #873D3E;

        li {
            border: solid 2px #000;

            a {
                color: #25A916;
                text-decoration: overline;
            }
        }
    }
}
