/* footer*/

footer {
    background-color: #2a2e39;
    height: 300px;
    width: 100%;
    position: absolute;
    left: 0;
}

.position_footer_content {
    margin-top: 54px;
}

#footer {
    background-color: #1B636F;
    padding: 2% 0;
}

.footerlogos {
    width: 100%;
}

.footerlogos img {
    max-width: 50px;
    padding: 0 1%;
    padding-bottom: 10px;
}

.footerlogos li {
    list-style-type: none;
    display: inline;
}

#flcontain {
    width: 20%;
    float: left;
    display: inline;
}

#footerlinks {
    width: 80%;
    float: right;
    display: inline;
}

#footerlinks ul {
    min-width: 8%;
}

#footerlinks li {
    list-style-type: none;
    display: inline;
    padding: 0 13px;
    min-width: 3%;
}

#footerlinks a {
    color: #BFBFBF;
    text-decoration: none;
    font-size: 1em;
    white-space: nowrap;
}

#footerlinks a:hover {
    color: #959595;
}

.portal-rt {
    float: right;
}

body.home #footer {
    position: relative;
    top: 1000px;
}

.grid_45 {
    width: 35.5%;
    display: block;
    padding: 0 6%;
    position: relative;
    top: 100px;
}

#footerlinks ul:nth-of-type(3) {
    min-width: 30%;
}

#footerlinks ul:nth-child(n+2) {
    margin-left: -2%;
}

#footerlinks li:nth-child(n+5) {
    white-space: nowrap;
}

#footerlinks ul:first-of-type {
    margin-left: -2%;
}
