@media (max-width: $screen-md-max) {
  @include responsive-visibility('.visible-md');
  .visible-md-block {
      display: block !important;
  }
  .visible-md-inline {
      display: inline !important;
  }
  .visible-md-inline-block {
      display: inline-block !important;
  }

  @include responsive-invisibility('.hidden-md');
}